{%extends "layout.html"%}

{% block titulo %}
  Contacto
{% endblock %}

{% block contenido %}

   <h2>Contactanos!!</h2>
   <form method="post" action="/contactar" >

	<h2>En que podemos ayudarte?</h2>
	<div >	
		<label>nombre</label>
		<input type="text" name="nombre" />
	</div>
	<div >	
		<label>email</label>
		<input type="text" name="email" />
	</div>
	<div >	
		<label>website</label>
		<input type="text" name="url"/>
	</div>
	<div >	
		<label>edad</label>
		<input type="text" name="edad" />
	</div>
	<div >	
		<label>comentario</label>
		<textarea></textarea>
	</div>	
	<div >	
		<input type="submit" value="enviar" />
	</div>

</form>


{% endblock %}