{% extends "layout.html" %}

{% block titulo %}
	Inicio
{% endblock %}

{% block contenido %}
	<section id="presentacion"> 
			<h1>Desarrollo ágil como un gato XD</h1>
		</section> 
		<section id="servicios">
			<div class="servicio">
				<img src="imagenes/movil.png" />
				<h2>Móviles</h2>
			</div>
			<div class="servicio">
				<img src="imagenes/seo.png" />
				<h2>SEO</h2>
			</div>
			<div class="servicio">
				<img src="imagenes/compu.png" />
				<h2>Diseño</h2>
			</div>
		</section>
		<section id="testimonio">
			<div class="testimonio">
				<img src="imagenes/testimonio.jpg" />
				<p>Excelente producto, mi vida es mejor desde entonces :D</p>
			</div>
			<div class="testimonio">
				<video controls class="flexible">
					<source src="videos/testimonio.mp4" type="video/mp4" />
					<source src="videos/testimonio.ogv" type="video/ogv"/>
					<source src="videos/testimonio.webm" type="video/webm"/>
				</video> 
			</div>
		</section>
{% endblock %}
		
		